#####################################################################
# Filament Handling
# Combined load / unload / purge / retract / M600 filament change menu
# Save as: filament_handling.cfg
#####################################################################

[gcode_macro FILAMENT_SETTINGS]
variable_pla_load_temp: 210
variable_petg_load_temp: 240
variable_abs_load_temp: 250
variable_asa_load_temp: 260
variable_pla_unload_temp: 210
variable_petg_unload_temp: 215
variable_abs_unload_temp: 230
variable_asa_unload_temp: 230
gcode:


[gcode_macro FILAMENT_STATUS]
gcode:
    {% set MSG = params.MSG|default("Filament action") %}
    SET_DISPLAY_TEXT MSG="{MSG}"
    RESPOND TYPE=echo MSG="{MSG}"


[gcode_macro CLOSE_FILAMENT_MENU]
gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    SET_DISPLAY_TEXT MSG=""


#####################################################################
# Load Filament Menu
#####################################################################

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set S = printer["gcode_macro FILAMENT_SETTINGS"] %}

    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin Load Filament"
    RESPOND TYPE=command MSG="action:prompt_text Select filament type."
    RESPOND TYPE=command MSG="action:prompt_button PLA|LOAD_FILAMENT_CONFIRM TEMP={S.pla_load_temp} MATERIAL=PLA|primary"
    RESPOND TYPE=command MSG="action:prompt_button PETG|LOAD_FILAMENT_CONFIRM TEMP={S.petg_load_temp} MATERIAL=PETG|primary"
    RESPOND TYPE=command MSG="action:prompt_button ABS|LOAD_FILAMENT_CONFIRM TEMP={S.abs_load_temp} MATERIAL=ABS|secondary"
    RESPOND TYPE=command MSG="action:prompt_button ASA|LOAD_FILAMENT_CONFIRM TEMP={S.asa_load_temp} MATERIAL=ASA|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|CLOSE_FILAMENT_MENU|warning"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro LOAD_FILAMENT_CONFIRM]
gcode:
    {% set TEMP = params.TEMP|float %}
    {% set MATERIAL = params.MATERIAL|string %}

    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin Load {MATERIAL}"
    RESPOND TYPE=command MSG="action:prompt_text Insert {MATERIAL} filament, then press Build Temp."
    RESPOND TYPE=command MSG="action:prompt_button Build Temp|LOAD_FILAMENT_HEAT TEMP={TEMP} MATERIAL={MATERIAL}|primary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Back|LOAD_FILAMENT|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|CLOSE_FILAMENT_MENU|warning"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro LOAD_FILAMENT_HEAT]
gcode:
    {% set TEMP = params.TEMP|float %}
    {% set MATERIAL = params.MATERIAL|default("Filament")|string %}

    CLOSE_FILAMENT_MENU
    FILAMENT_STATUS MSG="Heating {MATERIAL} to {TEMP}C"

    M104 S{TEMP}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TEMP-3}

    RESPOND TYPE=command MSG="action:prompt_begin Load {MATERIAL}"
    RESPOND TYPE=command MSG="action:prompt_text Temperature reached. Press Start Load."
    RESPOND TYPE=command MSG="action:prompt_button Start Load|LOAD_FILAMENT_START MATERIAL={MATERIAL}|primary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|CLOSE_FILAMENT_MENU|warning"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro LOAD_FILAMENT_START]
gcode:
    {% set MATERIAL = params.MATERIAL|default("Filament")|string %}

    CLOSE_FILAMENT_MENU
    SAVE_GCODE_STATE NAME=FILAMENT_LOAD_STATE
    M83

    FILAMENT_STATUS MSG="Loading {MATERIAL} into extruder gears"
    G1 E30 F300
    M400

    FILAMENT_STATUS MSG="Loading {MATERIAL} into hotend"
    G1 E75 F300
    M400

    FILAMENT_STATUS MSG="Purging {MATERIAL}"
    G1 E75 F600
    G1 E-5 F600
    M400

    RESTORE_GCODE_STATE NAME=FILAMENT_LOAD_STATE
    SET_DISPLAY_TEXT MSG=""

    RESPOND TYPE=command MSG="action:prompt_begin Load Complete"
    RESPOND TYPE=command MSG="action:prompt_text {MATERIAL} load complete."
    RESPOND TYPE=command MSG="action:prompt_button Purge More|PURGE_MORE|primary"
    RESPOND TYPE=command MSG="action:prompt_button Retract 5mm|RETRACT_FILAMENT|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Done|CLOSE_FILAMENT_MENU|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"


#####################################################################
# Unload Filament Menu
#####################################################################

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set S = printer["gcode_macro FILAMENT_SETTINGS"] %}

    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin Unload Filament"
    RESPOND TYPE=command MSG="action:prompt_text Select filament type for unload."
    RESPOND TYPE=command MSG="action:prompt_button PLA|UNLOAD_FILAMENT_HEAT TEMP={S.pla_unload_temp} MATERIAL=PLA|primary"
    RESPOND TYPE=command MSG="action:prompt_button PETG|UNLOAD_FILAMENT_HEAT TEMP={S.petg_unload_temp} MATERIAL=PETG|primary"
    RESPOND TYPE=command MSG="action:prompt_button ABS|UNLOAD_FILAMENT_HEAT TEMP={S.abs_unload_temp} MATERIAL=ABS|secondary"
    RESPOND TYPE=command MSG="action:prompt_button ASA|UNLOAD_FILAMENT_HEAT TEMP={S.asa_unload_temp} MATERIAL=ASA|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|CLOSE_FILAMENT_MENU|warning"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro UNLOAD_FILAMENT_HEAT]
gcode:
    {% set TEMP = params.TEMP|float %}
    {% set MATERIAL = params.MATERIAL|default("Filament")|string %}
    {% set FAN_SPEED = printer.fan.speed %}
    {% set CURRENT_TEMP = printer.extruder.temperature %}

    CLOSE_FILAMENT_MENU
    M104 S{TEMP}

    {% if CURRENT_TEMP > TEMP %}
        FILAMENT_STATUS MSG="Cooling {MATERIAL} to {TEMP}C"
        M106 S255
    {% else %}
        FILAMENT_STATUS MSG="Heating {MATERIAL} to {TEMP}C"
    {% endif %}

    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TEMP-3} MAXIMUM={TEMP+8}

    ; Restore original part cooling fan speed
    M106 S{(FAN_SPEED * 255)|int}

    RESPOND TYPE=command MSG="action:prompt_begin Unload {MATERIAL}"
    RESPOND TYPE=command MSG="action:prompt_text Temperature reached. Press Start Unload."
    RESPOND TYPE=command MSG="action:prompt_button Start Unload|UNLOAD_FILAMENT_START MATERIAL={MATERIAL}|primary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|CLOSE_FILAMENT_MENU|warning"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro UNLOAD_FILAMENT_START]
gcode:
    {% set MATERIAL = params.MATERIAL|default("Filament")|string %}

    CLOSE_FILAMENT_MENU
    SAVE_GCODE_STATE NAME=FILAMENT_UNLOAD_STATE
    M83

    FILAMENT_STATUS MSG="Forming clean {MATERIAL} tip"
    G1 E2 F240
    G1 E-10 F1800
    G4 P500
    G1 E-6 F1900

    FILAMENT_STATUS MSG="Unloading {MATERIAL}"
    G1 E-110 F1900
    M400

    RESTORE_GCODE_STATE NAME=FILAMENT_UNLOAD_STATE
    SET_DISPLAY_TEXT MSG=""

    RESPOND TYPE=command MSG="action:prompt_begin Unload Complete"
    RESPOND TYPE=command MSG="action:prompt_text Remove {MATERIAL} filament now."
    RESPOND TYPE=command MSG="action:prompt_button Load New|LOAD_FILAMENT|primary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Done|CLOSE_FILAMENT_MENU|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"


#####################################################################
# Extra Filament Actions
#####################################################################

[gcode_macro PURGE_MORE]
gcode:
    CLOSE_FILAMENT_MENU
    SAVE_GCODE_STATE NAME=FILAMENT_PURGE_STATE
    M83

    FILAMENT_STATUS MSG="Purging more filament"
    G1 E40 F600
    G1 E-5 F600
    M400

    RESTORE_GCODE_STATE NAME=FILAMENT_PURGE_STATE
    SET_DISPLAY_TEXT MSG=""

    RESPOND TYPE=command MSG="action:prompt_begin Extra Purge Complete"
    RESPOND TYPE=command MSG="action:prompt_text Extra purge complete."
    RESPOND TYPE=command MSG="action:prompt_button Purge More|PURGE_MORE|primary"
    RESPOND TYPE=command MSG="action:prompt_button Retract 5mm|RETRACT_FILAMENT|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Done|CLOSE_FILAMENT_MENU|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro RETRACT_FILAMENT]
gcode:
    CLOSE_FILAMENT_MENU
    SAVE_GCODE_STATE NAME=FILAMENT_RETRACT_STATE
    M83

    FILAMENT_STATUS MSG="Retracting filament 5mm"
    G1 E-5 F600
    M400

    RESTORE_GCODE_STATE NAME=FILAMENT_RETRACT_STATE
    SET_DISPLAY_TEXT MSG=""

    RESPOND TYPE=command MSG="action:prompt_begin Retract Complete"
    RESPOND TYPE=command MSG="action:prompt_text Retract complete."
    RESPOND TYPE=command MSG="action:prompt_button Purge More|PURGE_MORE|primary"
    RESPOND TYPE=command MSG="action:prompt_button Retract 5mm|RETRACT_FILAMENT|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Done|CLOSE_FILAMENT_MENU|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"


#####################################################################
# M600 Filament Change
#####################################################################

[gcode_macro M600]
description: Filament change
gcode:
    {% set X = params.X|default(215)|float %}
    {% set Y = params.Y|default(2)|float %}
    {% set Z = params.Z|default(25)|float %}

    SET_DISPLAY_TEXT MSG="Pausing for filament change"
    PAUSE

    G91
    G1 Z{Z} F600
    G90
    G1 X{X} Y{Y} F3000
    M400

    SET_DISPLAY_TEXT MSG=""

    RESPOND TYPE=command MSG="action:prompt_begin Filament Change"
    RESPOND TYPE=command MSG="action:prompt_text Choose filament action."
    RESPOND TYPE=command MSG="action:prompt_button Unload|UNLOAD_FILAMENT|primary"
    RESPOND TYPE=command MSG="action:prompt_button Load|LOAD_FILAMENT|secondary"
    RESPOND TYPE=command MSG="action:prompt_footer_button Close|CLOSE_FILAMENT_MENU|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"
