#####################################################################
# Homing — finish at X50 Y50
#####################################################################

[homing_override]
axes: xyz
gcode:
    G28 {rawparams}

    # Only move to X50 Y50 after a complete G28
    {% if rawparams|trim == "" %}
        G90
        G1 X60 Y60 F6000
    {% endif %}