#####################################################################
# Mick Edition Macro Pack
# Add this ONE line to printer.cfg:
# [include macros/mick_macro_pack.cfg]
#####################################################################

[include 1.printer_settings.cfg]
[include 1.filament_runout.cfg]
[include 1.temperature_wrappers.cfg]
[include 1.park.cfg]
[include 1.filament_handling.cfg]
[include 1.print_start.cfg]
[include 1.safety.cfg]
[include 1.Select_filament.cfg]
[include 1.Purge_line.cfg]