#####################################################################
# Printer Settings - central values used by the macro pack
# Change common positions / temps here first.
#####################################################################

[gcode_macro PRINTER_SETTINGS]
description: Central settings for printer macros

# ---- General temperatures ----
variable_default_bed_temp: 75
variable_default_extruder_temp: 240
variable_preheat_temp: 170

# ---- Bed center ----
variable_bedcenter_x: 59
variable_bedcenter_y: 59

# ---- Service / filament change position ----
variable_service_x: 59
variable_service_y: 59
variable_service_z: 25

# ---- Brush / bucket positions ----
#variable_purge_x: 125
#variable_purge_y: 2
#variable_brush_x1: 138
#variable_brush_x2: 200
#variable_brush_x_end: 220
#variable_brush_y: 0.5

# ---- Heights ----
variable_safe_z: 10
#variable_wipe_z: 0.4
#variable_clean_wipe_z: 0.6
#variable_purge_z: 2

# ---- Speeds ----
variable_move_speed: 12000
variable_fast_move_speed: 16000
#variable_wipe_speed: 12000
#variable_clean_wipe_speed: 16000
variable_z_speed: 3000

# ---- Purge / cleaning ----
#variable_clean_temp: 210
#variable_purge_cycles: 1
#variable_purge_per_cycle: 50
#variable_purge_speed: 400
#variable_bucket_wipe_cycles: 1
#variable_bucket_wipe_passes: 3
#variable_clean_wipe_cycles: 1
#variable_clean_wipe_passes: 6

gcode:
    RESPOND TYPE=echo MSG="PRINTER_SETTINGS loaded"
