#####################################################################
# Safety / Required Sections
#####################################################################

# Required for adaptive purge and slicer object cancellation.
[exclude_object]
