#####################################################################
# Temperature Status Wrappers
#####################################################################

[gcode_macro M190]
rename_existing: M190.1
gcode:
  {% if printer["gcode_macro status_heating"] != null %}
    status_heating
  {% endif %}

  M190.1 {rawparams}

  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}


[gcode_macro M109]
rename_existing: M109.1
gcode:
  {% if printer["gcode_macro status_heating"] != null %}
    status_heating
  {% endif %}

  M109.1 {rawparams}

  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}
